webapp/sapui5-sdk-1.65.1/downloads/schemas/sap.landvisz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="sap.landvisz" xmlns:n0="sap.ui.core" xmlns:n1="sap.landvisz">
<xsd:import namespace="sap.ui.core"/>
<xsd:element name="ConnectionEntity" type="n1:_ConnectionEntityType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Connection Entity of Dependency view</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Connector" type="n1:_ConnectorType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Connector of the entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LandscapeEntity" type="n1:_LandscapeEntityType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render the system
	</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LandscapeViewer" type="n1:_LandscapeViewerType" substitutionGroup="n1:Option">
<xsd:annotation>
<xsd:documentation>Visualize the landscape objects in a new user experience
	</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LongTextField" type="n1:_LongTextFieldType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Long text for a header</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Option" type="n1:_OptionType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Options for solution entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="OptionEntity" type="n1:_OptionEntityType" substitutionGroup="n1:OptionSource">
<xsd:annotation>
<xsd:documentation>Options for solution entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="OptionSource" type="n1:_OptionSourceType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Options  source for solution entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ActionBar" type="n1:_ActionBarType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control that render actions of a system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DataContainer" type="n1:_DataContainerType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control that renders the data container section in a system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DeploymentType" type="n1:_DeploymentTypeType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render deployment type of a component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityAction" type="n1:_EntityActionType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to specify entity actions</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EntityCustomAction" type="n1:_EntityCustomActionType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render custom actions of visualization control</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="HeaderList" type="n1:_HeaderListType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render headers of a control</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="IdentificationBar" type="n1:_IdentificationBarType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Acontrol to render identification bar of a system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LinearRowField" type="n1:_LinearRowFieldType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render linear row fields in data container region of a system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ModelingStatus" type="n1:_ModelingStatusType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>Modeling Status of entity</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="NestedRowField" type="n1:_NestedRowFieldType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render nester row fields in a control</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SingleDataContainer" type="n1:_SingleDataContainerType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control that shows all the tabs separately for a better view</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TreeField" type="n1:_TreeFieldType" substitutionGroup="n0:Control">
<xsd:annotation>
<xsd:documentation>A control to render tree field in the control</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!--type definition for UIElement 'sap.landvisz.ConnectionEntity'-->
<xsd:complexType name="_ConnectionEntityType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="connectionData" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Linear row field renderer for connection Entity</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:LinearRowField"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="connectionId" type="xsd:string">
<xsd:annotation>
<xsd:documentation>id of connection Entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="size" type="xsd:string">
<xsd:annotation>
<xsd:documentation>size of connection Entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="n1:_ConnectionTypeType">
<xsd:annotation>
<xsd:documentation>type of a connection Entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="linkId" type="xsd:string">
<xsd:annotation>
<xsd:documentation>ID which links the entities</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="linkedHeader" type="xsd:string">
<xsd:annotation>
<xsd:documentation>link header data that is shared with in the entities</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="dependencyTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for dependency type icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showOverlay" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>to show the overlay for highlightig </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.Connector'-->
<xsd:complexType name="_ConnectorType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="source" type="xsd:string">
<xsd:annotation>
<xsd:documentation>source of a connection to be drawn</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="target" type="xsd:string">
<xsd:annotation>
<xsd:documentation>destination of the connection</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.LandscapeEntity'-->
<xsd:complexType name="_LandscapeEntityType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="dataContainers" minOccurs="0">
<xsd:annotation>
<xsd:documentation>aggregations for data container </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:DataContainer"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="actionBar" minOccurs="0">
<xsd:annotation>
<xsd:documentation>aggregation on action bar control</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:ActionBar"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="entityStatus" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Modeling status icon</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:element ref="null:Image"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="systemName" type="xsd:string">
<xsd:annotation>
<xsd:documentation>name of the system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="n1:_LandscapeObjectType">
<xsd:annotation>
<xsd:documentation>type of the system rendered</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierText" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text of qualifier icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for qualifier icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text of the qualifier that specifies the server</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of a system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="defaultState" type="xsd:string">
<xsd:annotation>
<xsd:documentation>default state of the system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="description" type="xsd:string">
<xsd:annotation>
<xsd:documentation>description of the identification region</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="actions" type="xsd:string">
<xsd:annotation>
<xsd:documentation>actions of entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="systemStatus" type="n1:_ModelingStatusType">
<xsd:annotation>
<xsd:documentation>Modeling status of the entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="statusTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for modelling status</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="explodeViewWidth" type="n0:_CSSSizeType">
<xsd:annotation>
<xsd:documentation>Width of the show all view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="explodeViewHeight" type="n0:_CSSSizeType">
<xsd:annotation>
<xsd:documentation>Height of the show all view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showCustomActions" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>determines the visiblity of custom actions</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showEntityActions" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>determines the visiblity of entityactions</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="systemId" type="xsd:string">
<xsd:annotation>
<xsd:documentation>System entity ID</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="stateIconSrc" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Icon source of the state of entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="stateIconTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip of modelling status icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="componentType" type="n1:_ComponentTypeType">
<xsd:annotation>
<xsd:documentation>Type of a soution component/deployment type entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="componentTypeTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Tooltip for component type</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="trackSystemCount" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Systems  count in the track</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="mouseOverIdenIcon" type="xsd:string">
<xsd:annotation>
<xsd:documentation>fires an event on hovering over identification system icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="statusSelect" type="xsd:string">
<xsd:annotation>
<xsd:documentation>fires an event on clicking the modelling status</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="trackInfoPress" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Fired when info Icon of track entity clicked</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.LandscapeViewer'-->
<xsd:complexType name="_LandscapeViewerType">
<xsd:complexContent>
<xsd:extension base="n1:_OptionType">
<xsd:sequence>
<xsd:element name="systems" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Systems to be rendered in the landscape viewer
			</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:LandscapeEntity"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="connectionEntities" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Optional: connection Entity between two systems.
			</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:ConnectionEntity"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="connectors" minOccurs="0">
<xsd:annotation>
<xsd:documentation>connector contains from and to information
			</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:Connector"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="solutionOptions" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Options for the solution</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:Option"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="plugContent" minOccurs="0">
<xsd:annotation>
<xsd:documentation>a control which can be plugged into this control and can be only plugged in top section.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:element ref="n0:Control"/>
<xsd:element ref="n0:Fragment"/>
<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="defaultDependencyView" type="n1:_DependencyTypeType">
<xsd:annotation>
<xsd:documentation>View type of landscape view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="height" type="xsd:int">
<xsd:annotation>
<xsd:documentation>Height of Viewer container</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="width" type="xsd:int">
<xsd:annotation>
<xsd:documentation>width of the Viewer container</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="title" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Header of the rendered view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="networkDependencyLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Label of the network view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="boxDependencyLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Label of box view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="boxDependencyLevels" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Levels information in Box dependency view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showDependencyNavigator" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Navigator for dependency views</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="visibleDependency" type="n1:_DependencyVisibilityType">
<xsd:annotation>
<xsd:documentation>Dependency View Visibility</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="viewType" type="n1:_ViewTypeType">
<xsd:annotation>
<xsd:documentation>View type of landscape view	</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="navigationPath" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Text displayed in the dependency view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="hasParent" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>control has to be added in the container or directly in the window.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selectionViewPosition" type="n1:_SelectionViewPositionType">
<xsd:annotation>
<xsd:documentation>positions for selection view entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showClose" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>close button visibility</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="componentViewLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Label for the component view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="deploymentViewLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Label for deployment view.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="solutionOptionType" type="n1:_OptionTypeType">
<xsd:annotation>
<xsd:documentation>determines whether the option is rendered on view or entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="solutionType" type="n1:_SolutionTypeType">
<xsd:annotation>
<xsd:documentation>Type of solution rendered</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="showDeploymentTypeSection" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Deployment type section</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="deploymentOptionsLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Label for the options</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="deploymentOptionsTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip of label for the options</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="componentViewTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for component view button</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="deploymentViewTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for deployment view button</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="closeButtonTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for close button</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="plugContentHeight" type="xsd:int">
<xsd:annotation>
<xsd:documentation>Specify the height of plugged content</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="connectionLine" type="n1:_ConnectionLineType">
<xsd:annotation>
<xsd:documentation>Type of line to be drawn</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="close" type="xsd:string">
<xsd:annotation>
<xsd:documentation>closes the view</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="loadSolutionView" type="xsd:string">
<xsd:annotation>
<xsd:documentation>load the solution view either deployment or component
			</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.LongTextField'-->
<xsd:complexType name="_LongTextFieldType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="text" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Long text for a header</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the data</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.Option'-->
<xsd:complexType name="_OptionType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="optionEntities" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Entity to be rendered as options</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:OptionEntity"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>type of main entity which has a replacement</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="currentEntity" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Entity on which options are applicable</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.OptionEntity'-->
<xsd:complexType name="_OptionEntityType">
<xsd:complexContent>
<xsd:extension base="n1:_OptionSourceType">
<xsd:sequence>
<xsd:element name="optionSources" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Option Renderer Control</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:OptionSource"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="label" type="xsd:string">
<xsd:annotation>
<xsd:documentation>label for option entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selected" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>determines current selected option</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="enable" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>enabling/disabling options</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="optionTextTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for options</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selectOption" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Select event for option entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.OptionSource'-->
<xsd:complexType name="_OptionSourceType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="source" type="xsd:string">
<xsd:annotation>
<xsd:documentation>source for option entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.ActionBar'-->
<xsd:complexType name="_ActionBarType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="menu" minOccurs="0">
<xsd:annotation>
<xsd:documentation>aggregation for menu items</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:element ref="null:Menu"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="actionLabel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>label for action</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>Property that determines the size of the entity rendered</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="iconSrc" type="n0:_URIType">
<xsd:annotation>
<xsd:documentation>source for the icon rendered</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="actionType" type="n1:_ActionTypeType">
<xsd:annotation>
<xsd:documentation>type of the action </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="menuData" type="xsd:string">
<xsd:annotation>
<xsd:documentation>data of menu items and sub items</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="actionTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Tooltip for the action</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="enable" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>property to enable/disable actions</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="changeView" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>new type of view is loaded while performing the action.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="select" type="xsd:string">
<xsd:annotation>
<xsd:documentation>click on the action bar</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.DataContainer'-->
<xsd:complexType name="_DataContainerType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="properties" minOccurs="0">
<xsd:annotation>
<xsd:documentation>test</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n0:Control"/>
<xsd:element ref="n0:Fragment"/>
<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="header" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Text of Navigation Header</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selected" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>selected property of data header</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="n1:_LandscapeObjectType">
<xsd:annotation>
<xsd:documentation>type of landscape object</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="select" type="xsd:string">
<xsd:annotation>
<xsd:documentation>the  action to be carried out on selection of a tab</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.DeploymentType'-->
<xsd:complexType name="_DeploymentTypeType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>icon type of data</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.EntityAction'-->
<xsd:complexType name="_EntityActionType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="actionTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Tooltip for the internal action</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="iconSrc" type="n0:_URIType">
<xsd:annotation>
<xsd:documentation>Source of the icon </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="xsd:string">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="press" type="xsd:string">
<xsd:annotation>
<xsd:documentation>on click fire press</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.EntityCustomAction'-->
<xsd:complexType name="_EntityCustomActionType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="customAction" type="xsd:string">
<xsd:annotation>
<xsd:documentation>name of the custom action</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="select" type="xsd:string">
<xsd:annotation>
<xsd:documentation>click on the action bar</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.HeaderList'-->
<xsd:complexType name="_HeaderListType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="headerTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>ToolTip for headers</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="entitySize" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Size of the headers</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="selected" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>to select/deselect a header</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="n1:_LandscapeObjectType">
<xsd:annotation>
<xsd:documentation>type of system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="press" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Event triggered when header is clicked</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.IdentificationBar'-->
<xsd:complexType name="_IdentificationBarType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="text" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text that identifies a system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>type of system rendered</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierText" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text that identifies the server</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip to identify the server</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="qualifierType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>icon to identify the server</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="defaultState" type="xsd:string">
<xsd:annotation>
<xsd:documentation>determines the default state of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="description" type="xsd:string">
<xsd:annotation>
<xsd:documentation>despriction of the identification region of a control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="componentType" type="n1:_ComponentTypeType">
<xsd:annotation>
<xsd:documentation>Component type of the entity</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="select" type="xsd:string">
<xsd:annotation>
<xsd:documentation>fires click event on selection</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.LinearRowField'-->
<xsd:complexType name="_LinearRowFieldType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="label" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text to be displayed in the row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="value" type="xsd:string">
<xsd:annotation>
<xsd:documentation>value to be displayed in the row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="iconType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>text of the icon dislayed in the row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="iconTitle" type="xsd:string">
<xsd:annotation>
<xsd:documentation>title of the icon displayed in the row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="rightIconSrc" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Image source of the icon on right</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="linkSource" type="xsd:string">
<xsd:annotation>
<xsd:documentation>source from which two or more systems are 				dependent</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="rightIconTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tool tip for the right icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="invalidName" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>determines if the product version are valid/invalid</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.ModelingStatus'-->
<xsd:complexType name="_ModelingStatusType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:attribute name="status" type="xsd:string">
<xsd:annotation>
<xsd:documentation>status determines the state of the system namely correct, warning, error</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="statusTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Tooltip for status that determines the state of the system namely correct, warning, error</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="stateIconSrc" type="xsd:string">
<xsd:annotation>
<xsd:documentation> icon source for status</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="stateIconTooltip" type="xsd:string">
<xsd:annotation>
<xsd:documentation>tooltip for the icon</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.NestedRowField'-->
<xsd:complexType name="_NestedRowFieldType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="linearRows" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Rows aggregation in a label</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n1:LinearRowField"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="label" type="xsd:string">
<xsd:annotation>
<xsd:documentation>label for data in a row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="values" type="xsd:string">
<xsd:annotation>
<xsd:documentation>value of the data in a row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="iconTitle" type="xsd:string">
<xsd:annotation>
<xsd:documentation>titlte of the icon rendered in the nested row field</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="xsd:string">
<xsd:annotation>
<xsd:documentation>determines the type of landscape object</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="valueType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>determines the type of value</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="rightIconSrc" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Image source of the icon on right</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="linkSource" type="xsd:string">
<xsd:annotation>
<xsd:documentation>source from which two or more systems are dependent</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.SingleDataContainer'-->
<xsd:complexType name="_SingleDataContainerType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="properties" minOccurs="0">
<xsd:annotation>
<xsd:documentation>properties that are aggregated to the data container region of tabs</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="n0:Control"/>
<xsd:element ref="n0:Fragment"/>
<xsd:any processContents="lax" namespace="http://www.w3.org/1999/xhtml"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="header" type="xsd:string">
<xsd:annotation>
<xsd:documentation>header of the tab</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="xsd:string">
<xsd:annotation>
<xsd:documentation>rendering size of the system</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="closed" type="xsd:string">
<xsd:annotation>
<xsd:documentation>called when Single view model is closed</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<!--type definition for UIElement 'sap.landvisz.internal.TreeField'-->
<xsd:complexType name="_TreeFieldType">
<xsd:complexContent>
<xsd:extension base="n0:_ControlType">
<xsd:sequence>
<xsd:element name="treeNode" minOccurs="0">
<xsd:annotation>
<xsd:documentation>aggregation on the tree field to render tree nodes</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:choice minOccurs="0" maxOccurs="unbounded">
<xsd:element ref="null:TreeNode"/>
<xsd:element ref="n0:Fragment"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="treeModel" type="xsd:string">
<xsd:annotation>
<xsd:documentation>treeModel to be rendered in the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="bindingName" type="xsd:string">
<xsd:annotation>
<xsd:documentation>binding name</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="renderingSize" type="n1:_EntityCSSSizeType">
<xsd:annotation>
<xsd:documentation>rendering size of the control</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="_ActionTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NORMAL">
<xsd:annotation>
<xsd:documentation>Normal action type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="MENU">
<xsd:annotation>
<xsd:documentation>Menu action type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ComponentTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="onDemand">
<xsd:annotation>
<xsd:documentation>on demand component type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="onPremise">
<xsd:annotation>
<xsd:documentation>on premise component type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="notDefined">
<xsd:annotation>
<xsd:documentation>component type in not defined</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ConnectionLineType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Line">
<xsd:annotation>
<xsd:documentation>Plain line</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Arrow">
<xsd:annotation>
<xsd:documentation>Line with arrow at end</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ConnectionTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ProductSystem">
<xsd:annotation>
<xsd:documentation>ps type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="TechnicalSystem">
<xsd:annotation>
<xsd:documentation>ts type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="MobileSolution">
<xsd:annotation>
<xsd:documentation>mob type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_DependencyTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NETWORK_VIEW">
<xsd:annotation>
<xsd:documentation>dependency view </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="BOX_VIEW">
<xsd:annotation>
<xsd:documentation>Landscape view for selected view</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_DependencyVisibilityType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NETWORK">
<xsd:annotation>
<xsd:documentation>Network dependency view</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="BOX">
<xsd:annotation>
<xsd:documentation>Box Dependency View</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="BOTH">
<xsd:annotation>
<xsd:documentation>make both view visible</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_EntityCSSSizeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Regular">
<xsd:annotation>
<xsd:documentation>Regular size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Medium">
<xsd:annotation>
<xsd:documentation>Medium size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Large">
<xsd:annotation>
<xsd:documentation>Large size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Small">
<xsd:annotation>
<xsd:documentation>Small size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Smallest">
<xsd:annotation>
<xsd:documentation>Smallest size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Smaller">
<xsd:annotation>
<xsd:documentation>Smaller size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Largest">
<xsd:annotation>
<xsd:documentation>Largest size of system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="RegularSmall">
<xsd:annotation>
<xsd:documentation>new size regular size</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_LandscapeObjectType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="TechnicalSystem">
<xsd:annotation>
<xsd:documentation>Technical system type </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ProductSystem">
<xsd:annotation>
<xsd:documentation>Product systems type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Database">
<xsd:annotation>
<xsd:documentation>Database type </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Product">
<xsd:annotation>
<xsd:documentation>Product type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ProductVersion">
<xsd:annotation>
<xsd:documentation>Product version type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SapComponent">
<xsd:annotation>
<xsd:documentation>SAP Component Type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Track">
<xsd:annotation>
<xsd:documentation>SAP Track Type</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ModelingStatusType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ERROR">
<xsd:annotation>
<xsd:documentation>sample doc for types - ABAP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="WARNING">
<xsd:annotation>
<xsd:documentation>sample doc</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="NORMAL">
<xsd:annotation>
<xsd:documentation>sample doc</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_OptionTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ENTITY">
<xsd:annotation>
<xsd:documentation>Option applicable on entity</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="VIEW">
<xsd:annotation>
<xsd:documentation>Option applicable on view</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_SelectionViewPositionType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="LEFT">
<xsd:annotation>
<xsd:documentation>selection entity at left position</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="RIGHT">
<xsd:annotation>
<xsd:documentation>selection entity at right position</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="CENTER">
<xsd:annotation>
<xsd:documentation>Selection entity at center position</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_SolutionTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="COMPONENT_VIEW">
<xsd:annotation>
<xsd:documentation>Component view of a solution </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="DEPLOYMENT_VIEW">
<xsd:annotation>
<xsd:documentation>Deploy view of a solution</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_TechnicalSystemTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ABAP">
<xsd:annotation>
<xsd:documentation>types: ABAP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="JAVA">
<xsd:annotation>
<xsd:documentation>types: JAVA</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="HANADB">
<xsd:annotation>
<xsd:documentation>Types: HANA DB</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="DUAL">
<xsd:annotation>
<xsd:documentation>types - DUAL</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SBOP">
<xsd:annotation>
<xsd:documentation>types - DUAL</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SUP">
<xsd:annotation>
<xsd:documentation>types: SUP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="GENERIC">
<xsd:annotation>
<xsd:documentation>Types: GENERIC</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="INTROSCOPEMGR">
<xsd:annotation>
<xsd:documentation>types - INTROSCOPEMGR</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="INTROSCOPESTD">
<xsd:annotation>
<xsd:documentation>Types: INTROSCOPESTD</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="LIVECACHESAP">
<xsd:annotation>
<xsd:documentation>types - LIVECACHESAP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="MDM">
<xsd:annotation>
<xsd:documentation>types - MDM</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="TREX">
<xsd:annotation>
<xsd:documentation>types: TREX</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="UNSP3TIER">
<xsd:annotation>
<xsd:documentation>types: UNSP3TIER</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="UNSPCLUSTER">
<xsd:annotation>
<xsd:documentation>Types: UNSPCLUSTER</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="UNSPAPP">
<xsd:annotation>
<xsd:documentation>types - UNSPAPP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="MSNET">
<xsd:annotation>
<xsd:documentation>types - .NET</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="APACHESERVER">
<xsd:annotation>
<xsd:documentation>types: APACHESERVER</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="WEBSPHERE">
<xsd:annotation>
<xsd:documentation>types: WEBSPHERE</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="MSIISINST">
<xsd:annotation>
<xsd:documentation>Types: MSIISINST</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="WEBDISP">
<xsd:annotation>
<xsd:documentation>types - WEBDISP</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ViewTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="DEPENDENCY_VIEW">
<xsd:annotation>
<xsd:documentation>dependency view </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SELECTION_VIEW">
<xsd:annotation>
<xsd:documentation>Landscape view for selected view</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SOLUTION_VIEW">
<xsd:annotation>
<xsd:documentation>Solution View for a Landscape Objects</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="_ContainerTypeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Product">
<xsd:annotation>
<xsd:documentation>Type Product</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ProductVersion">
<xsd:annotation>
<xsd:documentation>Type Product version</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ProductInstances">
<xsd:annotation>
<xsd:documentation>Product Instances in the system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="SoftwareComponents">
<xsd:annotation>
<xsd:documentation>Software Components in the system</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
